@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ajoutez le style pour l'image de fond sur le conteneur parent (header) */
.header-container {
  background-image: url('/slide-01.jpg'); /* chemin de votre image de fond */
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100px; /* ajustez la hauteur selon vos besoins */
  position: relative;
}

.header-container2 {
    background-image: url('/slide-01.jpg'); /* chemin de votre image de fond */
    background-size: cover;
    background-position: center top ;
    background-repeat: no-repeat;
    height: 800px; /* ajustez la hauteur selon vos besoins */
    position: relative;
    margin-top: -100px
  }
  .custom-footer {
    height: 10px; 
  }

  